<h1>Add New Product</h1>

<div class="form">
  <mat-form-field >
    <input matInput placeholder="Name" [formControl]="form.controls['name']">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Description" [formControl]="form.controls['description']"></textarea>
  </mat-form-field>

  <mat-form-field >
    <input matInput placeholder="Image URL" [formControl]="form.controls['image']">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Quantity" [formControl]="form.controls['quantity']">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Price" [formControl]="form.controls['amount']">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Currency" [formControl]="form.controls['currency']">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="addProduct()" [disabled]="!form.valid">Save</button>


</div>

