<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar>Products Inventory App

    <nav style="float:right">
      <button mat-button routerLink="/add-new-product" routerLinkActive="active">Add New Product</button>
      <button mat-button routerLink="/products" routerLinkActive="active">Products</button>
    </nav>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
