<h4 mat-dialog-title>Delete Product</h4>
<div mat-dialog-content>
  Are you sure you want to delete this item from inventory?
  <button mat-raised-button color="primary" (click)="deleteProductClicked()">Yes</button>
</div>
