<div>
  <div></div>
  <div *ngIf="products">
    <div>
      <div *ngFor="let p of products">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{p.product_name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src={{p.img}} alt="img">
          <mat-card-content>
            <div style="display:flex; flex-direction: column; justify-content: center">
              <div>
                {{p.description}}
              </div>
              <div>
                <b>
                  {{p.currency}} {{p.amount}}
                </b>
              </div>
              <div>
                Quantity: {{p.quantity}}
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="editProductClicked(p)">Edit</button>
            <button mat-button (click)="deleteProductClicked(p)">Delete</button>
          </mat-card-actions>
        </mat-card>

      </div>

    </div>
  </div>
</div>



